body {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  padding-top: 1em;
}


input[type="checkbox"] {
  margin-right: 0.5em;
  vertical-align: bottom;
}


label,
button {
  display: block;
  margin: 1em;
  margin-left: 1.5em;
}


.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.5em;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #23222B;
    color: #FBFBFE;
  }
}